.card__container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 3em;
    align-items: center;
    justify-content: center;
}

.card__empleados{
    margin: 0 auto;
    padding: 1.4em;
    background-color: #00000075;
    border-radius: 6px;
}

.card__name,
.card__description {
    margin-bottom: .3em;
}

button {
    width: 90%;
    margin-top: .8em;
    padding: 1em 1em;
    background-color: #05050596;
    color: #fff;
    font: inherit;
    font-weight: 600;
    border-radius: 8px;
}