.card__container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 3em;
    align-items: center;
    justify-content: center;
}

.card__empleados{
    /* max-width: 320px; */
    margin: 0 auto;
    padding: 1.4em;
    background-color: #00000075;
    border-radius: 6px;
}
